* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke
}

/* header */
header img {
  /* metto display: block altrimenti il margin: auto non funzionerebbe */
  display: block;
  margin: -50px auto;
  width: 300px
}

/* main */
.shop {
  width: 1000px;
  margin: 0 auto;
}

.shop>div {
  width: 640px;
  margin: 0 auto;
}

.img-list {
  display: inline-block;
  width: 200px;
  position: relative;
  margin: 0 1px;
}

.img-list:nth-child(even) .sconto {
  background-color: red
}

.shop img {
  width: 200px;
}

.sconto {
  background-color: green;
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px
}

.cuore {
  display: none;
  position: absolute;
  bottom: 0;
  padding-bottom: 8px;
  font-size: 20px;
  color: red;
  /* right: 50%; */
  /* al posto di right:50% uso queste impostazioni sotto perché lo centrano correttamente, dicendo che deve essere allineato centralmente, dandogli una dimensione pari al 100% del suo contenitore genitore  */
  text-align: center;
  width: 100%;
}

.img-list:hover .cuore {
  display: block;
}

/* .shop:hover img {
  width: auto;
} */
footer p {
  font-size: 18px;
  margin: 20px 0;
  text-align: center;
}